

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Chakra+Petch:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&family=Chakra+Petch:wght@400;700&family=Chango&display=swap');

:root{ 
    --cor-de-fundo:#D30606;
    --cor-do-texto:#D9D9D9;
    --aba-inativa:#8B0000;
    --aba-ativa:#7F28F0;
}
    body{
        background-color:var(--cor-de-fundo);
    }




